<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Data Pegawai</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<body>

		<nav th:replace="fragments/fragment :: navbar"></nav>

		<br>
		<div class="container-fluid">
	
				<div class="row">
				<div class="col-md-6">
					<div class="card">
					    <div class="card-header text-white" style="background-color: #00AA9E;">						
 						<h4 th:text="'Hapus Data Jabatan'"></h4>
						</div>
						<form th:action="@{/jabatan/hapus/submit}" th:object="${jabatan}" method="POST">
						<table class="table table-striped">
							
							<tr>
								<td>
								</td>
								<td>
								<input type="hidden" th:value="${jabatan.id}" name="id"></input>
								
								</td>

							</tr>
							<tr>
								<td>
Nama								
								</td>
								<td>
											<input type="text" th:value="${jabatan.nama}" name="nama" class="form-control" id="nama" disabled="true" />
								
								</td>
							</tr>
							<tr>
								<td>
Deskripsi								
								</td>
								<td>
									<input type="text" th:value="${jabatan.deskripsi}" name="deskripsi" class="form-control" id="deskripsi"  disabled="true"/>
								
								</td>
							</tr>
							<tr>
								<td>
ID Kepanitiaan							
								</td>
								<td>
									<input type="number" th:value="${jabatan.gajiPokok}" name="gajiPokok" class="form-control" id="gajiPokok" value="3500000"  disabled="true"/>
								
								</td>
							</tr>
							<tr>
							<td>
							</td>
							<td>
								<button type="submit" class="btn btn-danger mb-2">HAPUS</button>
							
							</td>
							
							</tr>
						</table>
																					
							
			
							
						</form>
					
					    <button class="btn btn-info" 
					    th:onclick="'window.location.href = \'' + @{/jabatan/view?idJabatan={id}(id=${jabatan.id})} + '\''"
					    
					     type="button">
					    TIDAK JADI HAPUS


					    </button>

					</div>
				</div>
				</div>
			
		</div>
		
		
		
		
		
		
	</body>
</html>



