<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	
	<title>Home</title>
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
	<script th:src="@{/js/bootstrap.min.js}"></script>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>


</head>

<body>

		<nav th:replace="fragments/fragment :: navbar"></nav>

		<br>
		<div class="container-fluid">
			<h3>Sistem Informasi Akademik</h3>
			<h6>Selamat datang di Sistem Informasi Akademik Next Generation v3.2</h6>
		<hr>
		<h5>Lihat Data Kepanitiaan Berdasarkan NK</h5>
		
				<div class="row">
					<div class="col-md-6">
						<div class="card">
						    <div class="card-header text-white" style="background-color: #00AA9E;">						
							<a>Masukan NK (Nomor Kepanitiaan) di bawah ini</a>
							</div>
							<form th:action="@{/pegawai}" method="GET">
								<div class="card-body">
									<label for="dealerId">No NK : </label>
									<input type="text" name="nip" class="form-control" />
									<br>
									<button type="submit" class="btn btn-info">Cari</button>
								</div>
							</form>
						</div>
					</div>
					
					<div class="col-md-6">
					<div class="card">
					    <div class="card-header text-white" style="background-color: #00AA9E;">						
							Lihat Detail Kepanitiaan
						</div>
						<form th:action="@{/jabatan/view}" method="GET">
							<div class="card-body">
							<br>
								<label for="nip">Pilih Kepanitiaan:</label>
									<form th:action="@{/jabatan/view}" method = "GET">
										<select name = "idJabatan">
										<option th:each = "jabatan : ${daftarJabatan}" th:value = "${jabatan.id}" th:text = "${jabatan.nama}"></option>
										</select>
										<br>
										<br>
										<button type = "cari" class = "btn btn-info">LIHAT KEPANITIAAN</button>
									</form>
								<p></p>
							</div>
						</form>
						
						
					</div>
					</div>
			
			
				</div>
			
		</div>
		
		
		
		
		
		
	</body>
</html>



