<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- 	<meta charset="ISO-8859-1">
 -->		<title>Ubah Jabatan</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<br><br>

		<div class="col-md-6">
					<div class="card">
					    <div class="card-header text-white" style="background-color: #00AA9E;">						
							Data Berhasil Diubah						
						</div>
						<div class="card-body">
						<a th:text="'Data ' +  ${jabatan.nama} + ' berhasil diperbaharui'"></a>
						<br>
						<a th:href="'/jabatan/view?idJabatan=' + ${jabatan.id}">Kembali ke halaman sebelumnya</a>
						</div>						
					</div>
				</div>

		
	</body>
</html>